<div id="header" class="header">
    <a href="/about">
        <div id="header-img-container" class="header-img-container">
            <img id="header-img" src="<%-theme.userinfo.avator%>" />
        </div>
        <div id="header-userinfo" class="header-userinfo">
            <span><%-theme.userinfo.name %></span>
            <p><%-theme.userinfo.description %></p>
        </div>

        <div id="header-contact-container" class="header-contact-container">
            <a href="<%- theme.userinfo.github  %>">
                <img src="../images/icons/github.svg" />
            </a>

            <a href="<%- theme.userinfo.email  %>">
                <img src="../images/icons/mail.svg" />
            </a>

        </div>
    </a>
</div>